* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

}

:root {

/*bordas*/
--textdark1:hsl(208, 100%, 97%);
/*bordas*/
  --boder1: 5px groove rgb(56, 196, 14);
  --boder2: 10px groove rgb(56, 196, 14);

}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.avatar {
  width: 200px;
  border-radius: 50%;
  border: var(--boder2);

}

ul {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

li {
  background: rgb(8, 233, 203);
  border: var(--boder1) ;
  padding: 10px 30px;
}

a {
  color:var(--textdark1) ;
  font-size: 23px;
}